svg(
  ng-attr-width='{{ size * palette.length }}'
  ng-attr-height='{{ size }}'
)
  rect(
    ng-repeat='color in palette'
    ng-attr-fill='{{ color }}'
    ng-attr-width='{{ size }}'
    ng-attr-height='{{ size }}'
    ng-attr-x='{{ $index * size }}'
    ng-attr-y='{{ 0 }}'
    title='{{ color }}'
  )
