ui-select(
  ng-model="selectedPalette"
  style="width: 257px;"
  on-select="selectCallback($item, isReverse)"
)
  ui-select-match(placeholder="Select a palette...")
    palette(colors='selectedPalette.colors' size='20')
  ui-select-choices(
    repeat="palette in palettes"
    refresh="refreshPalettes($select.search)"
    reverse="reversePalettes($select.reverse)"
    initial-range="{{ range }}"
    initial-reverse="{{ reverse }}"
  )
    palette(colors='palette.colors' size='20')
